{% extends 'baseManager.html.twig' %}

{% block title %}
	Modification du profile!
{% endblock %}


{% block body %}
	<div class="container mt-5">

		<div>
			{{ form_start(form) }}


			<div class="row">
				<div class="col-4 mt-2">{{ form_row(form.name)}}</div>
			</div>
			<!---
			
!-->
			<div class="col-4 mt-2 ">
				<button type="submit" class="btn btn-light" style=" background-color: orange;">Enregistrer</button>
			</div>


			{{ form_end(form) }}


		{% endblock %}

