{% extends 'baseManager.html.twig'%}

{% block title %}
	utilisateursss !
{% endblock %}
{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">

{% endblock %}



{% block body %}
<div id="content">
	<div class="mt-5">
		<h1 class="h1">
			Profile de
			{{ app.user.name }}</h1>
		<hr>
		<div>
			<h2 class="h3">Mes informations</h2>
			<!--
			<div id = "coin" >
			
			<img src =" {{ asset ('/uploads/'~ app.user.photo )}}" style=" border-radius: 3%;">
			</div>
			!-->
				<p>Name:
					{{ app.user.name }}
					<br>
					Email:
					{{ app.user.email }}
				</p>
			</div>
		</div>
		{% for message in app.flashes('message') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}

<a href="{{ path('user_name_edit') }}" class="btn btn-light">Modifier le profile</a>



<a href="{{ path('user_passe_edit') }}" class=" btn btn-warning ">



			Modifier le mot de passe</a>

		<h2>
			<div>
				Vous avez
				{{ app.user.tickets|length }}
				tickets</div>
		</h2>

	</div>
	</div>
    </div>


	 
{% endblock %}
