{% extends 'BaseAdmin.html.twig' %}
{% block title %}Création de nouvel utilisateur!
{% endblock %}

{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">

{% endblock %}



{% block body %}
       {# <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>#}

	<div class="container mt-5">

	{% for message in app.flashes('notice') %}
			<div class="alert alert-success" role="alert">

				{{ message }}
			</div>
	
{% endfor %} 
{{ form_start(form)}}



	
	<div class="row justify-content-around">

			<div class="col-7"> {{form_row(form.name)}}</div>
		</div>



	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->

		<div class="row justify-content-around" >

			<div class="col-7">{{form_row(form.email)}}</div>

		</div>



			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.password)}}</div>
			</div>

	<div class="row justify-content-around">

				<div class="col-7">{#{form_row(form.plainPassword.second)}#}</div>
			</div>





		<!-- Columns are always 50% wide, on mobile and desktop -->
	
			<div class="row justify-content-around">

				<div class="col-7">{#{form_row(form.activation_token)}#}</div>
			</div>

		




			<div class="row justify-content-around">

				<div class="col-7">{#{form_row(form.enabled)}#}</div>
			</div>

	<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.roles)}}</div>
			</div>

		
		
		


			<div class="row justify-content-around">

				{#<div class="col-7">{{form_row(form.file)}}</div>#}
			</div>

	
	
		    	<div class="row justify-content-around">

			<div class="row justify-content-around">
          
				<button type="submit" class="btn btn-light"
				 style=" background-color: #287892;color:white">Créer</button>


			</div>
            </div>
		
		


		{{ form_widget(form._token) }}

		{{ form_end(form, {'render_rest': false}) }}
</div>

{% endblock %}
{% block javascripts %}
	{% endblock %}
