{% extends 'base-pdf.html.twig' %}
{% block title %}Détails du ticket
{% endblock %}
{% block body %}
	<img src="{{ absolute_url(asset('assets/Images/Logo_slogan.jpg'))}}" width="30%"/><br>

	SOLWAY Consulting & Services<br>
	14-30 Rue de la Mantes
	<br>
	92700 Colombes<br>

	<br>
	Responsable:
	{{ "Amine HBIBIY" }}
	<br></p><hr style="height: 4px; color: #FFB533; background-color: #FFB533; width: 100%; border: none;"><div>
	<br>
	<h2 class="h3">Ticket N°
		{{ ticket.getId() }}</h2>

	<table class="table table-striped">
		<tr>
			<td>Identifiant du ticket
			</td>
			<td>{{ticket.getId()}}</td>
		</tr>
		<tr>
			<td>Nom du client
			</td>
			<td>{{ticket.getUtilisateurs().getName()}}</td>
		</tr>
		<tr>
			<td>Titre</td>
			<td>{{ticket.TitreTicket}}</td>
		</tr>
		<tr>
			<td>Crée le</td>
			<td>{{ ticket.DateTicket|date("m/d/Y") }}</td>
		</tr>
		<tr>
			<td>Crée par</td>
			<td>{{ ticket.getUtilisateurs().getEmail()}}</td>

		</tr>
		<tr>
			<td>Catégorie</td>
			<td>{{ticket.Categorie.NomCategorie}}</td>

		</tr>
		<tr>
			<td>Domain</td>
			<td>{{ ticket.Domain.NomDomain}}</td>
		</tr>
		<tr>
			<td>Sous domain</td>
			<td>{{ ticket.Domain.NomDomain}}</td>
		</tr>
		<tr>
			<td>Prioritéeee</td>
			<td>{{ ticket.Priorite.NiveauPriorite}}</td>

		</tr>
		<tr>
			<td>Status</td>
			<td>{{ ticket.Priorite.NiveauPriorite}}</td>

		</tr>
<tr>

<td> {{ ticket.getCommentaire|raw }} </td>

</tr>
</div>
</table>
<footer>
<div class="fin">
© SOLWAY Consulting & Services ©2021
</div>

<style>
.fin{
    position: relative;
    top: 100%;
    text-align: center;
	background-color : #FFB533; 
}


</style>

<!-- Copyright -->

</footer>
{% endblock %}
