{% extends 'base-pdf.html.twig' %}
{% block title %}izan
{% endblock %}
{% block body %}
	<img src="{{ absolute_url(asset('Images/Logo_slogan.jpg'))}}" width="30%"/>
	<h1>SOLWAY Consulting & Services
	</h1>
</br>SASU au capital de 1000€<br>
14-30 Rue de la Mantes<br>
92700 Colombres<br>
</p><br><p>Siret:
{{ "878214998 00022" }}
<br>
TVA:
{{ "FR70 878214998" }}
<br>
Responsable:
{{ "Amine HBIBIY" }}
{% if ticket %}
	<table id="articles" class="table table-striped ">
		<thead>
			<tr>
				<th>titre</th>
				<th>crée par
				</th>
				<th>crée le
				</th>

				<th>Catégorie</th>
				<th>Domain</th>
				<th>
					sous domain
				</th>
				<th>priorite</th>


			</tr>
		</thead>
		<tbody>
			{% for ticket in ticket %}
				<tr>
					<td>{{ ticket.getTitreTicket()}}</td>
					<th>{{ ticket.getUtilisateurs().getEmail() }}</th>
					<td>{{ ticket.getDateTicket()|date("m/d/Y") }}</td>
					<td>{{ ticket.getCategorie().getNomCategorie() }}</td>
					<td>{{ ticket.getDomain().getNomDomain }}</td>
					<th>{{ ticket.getSousDomain().getNomSsDomain() }}</th>
					<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>

				</tr>
			</td>
		</tbody>
	</tr>
{% endfor %}</p></tbody></table>{% else %}<p>Aucun articles</p>{% endif %}{% endblock %}
