{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}


{% block body %}
	<h1 class="mt-5"></h1>

	<div class="form-row align-items-end">
		<div class="col">
			<form method="post" action="{{ path('statistique') }}">
				<input type="text" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" name="recherche"></h1>


		</div>
		<div class="col">
			<a href="{{ path('recherche_avancé') }}" class="btn btn-primary mt-5">
				Recherche avancée
			</a>

		</div>

	</div>
	<h1 class="mb-5"></h1>

	<table class="table table-hover">


		<thead>
			<tr>

				<th scope="col">crée le</th>
				<th scope="col">Titre</th>
				<th scope="col">Catégorie</th>
				<th scope="col">Sous domaine</th>

				<th scope="col">Priorité</th>

				<th scope="col">Status</th>


				<th scope="col">Affectation</th>

			</tr>
		</thead>
	</tbody>

	{% for ticket in ticket %}


		<td>{{ ticket.getDateTicket()|date("m/d/Y") }}</td>
		<td>{{ ticket.getTitreTicket() }}</td>
		<td>{{ ticket.getCategorie().getNomCategorie() }}</td>
		<td>{{ ticket.getSousDomain().getNomSsDomain() }}</td>
		<td>{{ ticket.getPriorite().getNiveauPriorite() }}</td>
		<td>{{ ticket.getPriorite().getNiveauPriorite() }}</td>
		<td>{{ ticket.getPriorite().getNiveauPriorite() }}</td>

		<td>
			<div class="div_btn">
				<a href="{{ path('ticket_show', {id: ticket.id}) }}" class="btn btn-info">
					<i class=" fa fa-eye" aria-hidden=" true"></i>


				</a>

				<a href="{{ path('ticket_delete', {id: ticket.id}) }}" class="btn btn-danger">

					<i class="fa fa-trash" aria-hidden="true"></i>


				</a>
			</div>
		</td>


	</tr>

{% else %}
	<tr>
		<th colspan="5">Il n'y a pas de priorité</th>
	</tr>
{% endfor %}</tbody></table><div class="pagination">{{ knp_pagination_render(ticket) }}{% endblock %}
