{% extends 'baseClient.html.twig' %}

{% block title %}Utilisateur
{% endblock %}
{% block stylesheets %}

	<style></style>

{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5"></h1>

		<div class="row">
			<h1 class="mt-5"></h1>

			<div class="col">
			
				</div>
				<div class="col"></div>
				<div class="col">
					<a href="{{ path('recherche_avancé') }}" class="btn btn-light">
						Recherche avancée
					</a>
				</div>
			</div>
		</div>
		<h1 class="mt-5"></h1>


		<table class="table table-hover container mx-auto">
			<thead>
				<tr>
             <th scope="col">Id</th>
					<th scope="col">créé le</th>
                   <th scope="col">créé par</th>

					<th scope="col">Titre du ticket</th>
					<th scope="col">Catégorie</th>
					<th scope="col">Sous domaine</th>
					<th scope="col">Priorité</th>
					<th scope="col">Status</th>
					<th scope="col">Affectation</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
		</tbody>

		{% for ticket in ticket %}
              <td>{{ ticket.getId() }}</td>
			<td>{{ ticket.getDateTicket()|date("m/d/Y") }}</td>
            <td>{{ ticket.getUtilisateurs().getEmail() }}</td>
			<td>{{ ticket.getTitreTicket() }}</td>
			<td>{{ ticket.getCategorie().getNomCategorie() }}</td>
			<td>{{ ticket.getSousDomain().getNomSsDomain() }}</td>
			<td>{{ ticket.getPriorite().getNiveauPriorite() }}</td>
            <td>{#{ ticket.getStatutTicket().getEtatTicket() }#}</td>
      {% if (ticket.getAffectation) != null %}

	<td>{{ ticket.getAffectation().getEmail() }}</td>


{% else %}
	<td>pas encore</td>

{% endif %}


			<td>
				<div class="div_btn">
					<a href="{{ path('ticket_show', {id: ticket.id}) }}" class="btn btn-primary">
						<i class=" fa fa-eye" aria-hidden=" true"></i>
					</a>

					<a href="{{ path('delete_ticket', {id: ticket.id}) }}" class="btn btn-danger">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</div>
			</td>
		</tr>

	{% else %}
		<tr>
			<th colspan="5">Il n'y a pas de priorités</th>
		</tr>
	{% endfor %}
</tbody></table><div class="pagination">{{ knp_pagination_render(ticket) }}</div>{% endblock %}
