{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">

	<h1 class="mt-5">Modifier le domaine</h1>

	{{ include('admin/domaines/_form.html.twig') }}
	</div>
{% endblock %}
