{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}


{% block stylesheets %} <link rel="stylesheet" href ="{{ asset('css/user.css') }}"> 
<link rel="stylesheet" href ="{{ asset('css/ticket.css') }}">
<style>
.table-title {
    padding-bottom: 15px;
    background: #287892;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

</style>

{% endblock %}




{% block body %}
	
<div class="container mt-5">
<br><br><br>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Liste des <b>Domaines </b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href=" {{ path('admin_domaine_new')}}" 
                        class="btn btn-secondary">
                        <i class="material-icons">&#xE147;</i> 
                        <span>ajouter un domaine</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                 <th>Id</th>
				<th>Domaine</th>
				<th>crée le </th>
				<th>Action</th>
                    </tr>
                </thead>
				{% for domaines in domaines %}
                <tbody>
                    <tr>
                        <th>{{ domaines.id }}</th>
					<th>{{ domaines.nomDomain }}</th>
					<th> {{domaines.DateDomain|date("d/m/Y") }}</th>
								
                        <td>
                            <a href="{{ path('admin_domaine_edit', {id: domaines.id}) }}"
                             class="settings" title="Settings" 
                            data-toggle="tooltip"><i class="material-icons" style="color:green">edit</i>
                            </a>


                <a href="{{ path('admin_domaine_delete', {id: domaines.id}) }}" 
                onclick="return confirm('Etes-vous sûr de vouloir supprimer')">
               <i class="material-icons" style ="color:red">&#xE5C9;</i>
								
							
								</a>
                        </td>
                    </tr>
                   
                   {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Précédent</a></li>
                    
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                   
                    <li class="page-item"><a href="#" class="page-link">Suivant</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>    

 {% block javascripts %}
  <script src="{{ asset('js/user.js') }}"> </script>
        {% endblock %}
       
{% endblock %}
