{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	<h1 class="container mt-5">Ajouter un nouveau domaine</h1>

	{{ include('admin/domaines/_form.html.twig') }}
{% endblock %}
