<!DOCTYPE html>
<html>
	<head>
		<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
  rel="stylesheet"
/>


</head>
		<style>
    body {
      background-color: #eaeded ;
    }
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
		</style>
<div class="main-block" style="text-align:center">
	<div id="alerte">			
		</div>
		
		<body>


{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			
		{#	<div class="left-part">
				<h1>Welcome to SOLWAY Consulting & Services</h1>
				<i class="fas fa-sign-in-alt" style="font-size:100px"></i>
			</div>
			<form method="post">

				<div class="title">
					<i class="fas fa-user" style="font-size:20px"></i>
					<h2>M'identifier</h2>
				</div>
				<div class="info">
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required>
					<input type="password" name="password" id="inputPassword" required placeholder="Mot de passe">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<div class="checkbox">
					<button type="submit">connexion</button>
					<a href=" {{ path('app_register') }} ">Vous n'avez pas encore de compte?</a>
					<a href="# ">Mot de passe oublié?</a>

				</span>
			</div>#}


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
          <div class="d-flex flex-row align-items-center 
          justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-2 me-9">
            <img src="{{ absolute_url(asset('assets/Images/solway2.png'))}}" width="120%"/></p>
            
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">

            					<input type="email" value="{{ last_username }}" 
                      name="email" id="inputEmail" 
                      class="form-control form-control-lg" placeholder="Email" required>

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
           	<input type="password" name="password" id="inputPassword" class="form-control form-control-lg"
             required placeholder="Mot de passe">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
            
              
            </div>
<a href=" \reset-password" class="btn btn-secondary mt-3">Mot de passe oublié</a>          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">connexion</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Pas encore de compte?
             <a href="{{ path('app_register') }}"
                class="link-danger">Crée un compte</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark"
     style="color:red">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
     Solway Consulting & Services  ©2022
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/people/SOLWAY-Consulting-Services/100063589481544/" class="text-white me-4">
        <i class="fab fa-facebook-f" style="font-size:20px"  ></i>
      </a>
     
      <a href="https://www.instagram.com/solway.cs/?hl=fr" class="text-white me-4">
        <i class="fab fa-instagram" style="font-size:20px"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in" style="font-size:20px,color:blue" ></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
></script>

		</body>
</html>
