


<!DOCTYPE html>
<html>
	<head>
		<!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
  rel="stylesheet"
/>


</head>
		<style>
    body {
      background-color: #eaeded ;
    }
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
		</style>

  <div class="container-fluid h-custom">
  <div class="main-block" style="text-align:center">
	<div id="alerte">			
		</div>
		
		<body>



				
			</div>
			<section class="vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
          <div class="d-flex flex-row align-items-center 
          justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-2 me-9">
            <img src="{{ absolute_url(asset('assets/Images/solway2.png'))}}" width="120%"/></p>
            
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>
			<form method="post">


	<section id="article" class="container-fluid pb-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
				<h1>		Vous avez oublié votre mot de passe? </h1>
					

                    {{ form_start(requestForm) }}

					<div class="wrap-input100 validate-input">						
						{{form_widget(requestForm.email, {'attr': {'class' : 'input100', 'placeholder':'Email'}}) }}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn" >
							Réinitialiser le mot de passe
						</button>
					</div>

                   

					<div class="text-center p-t-136">
						<span class="txt1">
							Retour à la page de
						</span>
						<a class="txt2" href="{{ path('app_login')}}">
							connexion
						</a>
					</div>
                 {{ form_end(requestForm) }}
				</form>
                  
					<div class="login100-pic js-tilt" data-tilt>
						<img src="/Logo_slogan.jpg" alt="SOLWAY Consulting & Services">
					</div>
				
			</div>
		</div>
	</div>
	



