{% extends 'BaseAdmin.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">

	<h1 class="mt-5">Modifier la Priorité</h1>

	{{ include('admin/priorite/_form.html.twig') }}
{% endblock %}
