{% extends 'BaseAdmin.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block body %}
<div classe="container">
	<h1 class="mt-5">Modifier le sous domaine</h1>

	{{ include('admin/sous_domaines/_form.html.twig') }}
	</div>
{% endblock %}
