{% extends 'BaseAdmin.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">
	<h1 class="mt-5"></h1>
	{{ include('admin/sous_domaines/_form.html.twig') }}
	</div>
{% endblock %}
