
<!DOCTYPE html>
<html>
    <head>

<title>{% block title %}Ticket des client {% endblock %}</title>
<h1> {%block titre %}  Tickets de vos clients{%endblock %} </h1>
</head>

{% block body %}

  {% if tickets %}
    <table id="tickets" class="table table-striped" data-toggle="table" data-pagination="true" border =2px>
      <thead>
      <a href="ticket/creat" class="btn_dark">Ajouter ticket <a/>
         <tr>
          <th data-sortable="true" data-field="id">

          identifiant</th>
          <th>titre ticket </th>
           <th>crée le </th>
            <th>crée par</th>
            <th>Message</th>
           <th>Categorie</th>
           <th>Domain</th>
             <th>sous_domain</th>
              <th>priorite</th>

        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td>{{ ticket.getId()}}</td>
            <td> {{ ticket.getDateTicket()|date("m/d/Y") }}</td> 
            <td>{{ ticket.getTitreTicket()}}</td> 
            <td>{{ ticket.getMessage()}}</td> 
             <td>{{ ticket.getUtilisateurs().getEmail()}}</td> 
             <td>{{ ticket.getCategorie().getNomCategorie()}}</td> 
            <td>{{ ticket.getDomain().getNomDomain}}</td> 
            <td>{{ ticket.getSousDomain().getNomSsDomain()}}</td> 
            <td>{{ ticket.getPriorite().getNiveauPriorite()}}</td> 



           
            
            <td>
               <a href="ticket/{{ticket.getId()}}" class="btn_dark">Details</a>
               <a href="/ticket/{{ ticket.getId()}}/modifier" class="btn_dark">Modifier</a>
               <a href="/ticket/{{ ticket.getId()}}/delete" class="btn_dark">Supprimer</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>No articles to display</p>
  {% endif %}
{% endblock %}