{% extends 'baseManager.html.twig' %}

{% block title %}
	Modification du profile !
{% endblock %}

{% block body %}


	<!-- Page content -->

	<div class="container">
    <h1 class="mt-5"></h1>


		<form method="post">
			<div>
<div class="row">
<div class="col-4 mt-2">
	<label for="pass">Mot de passe</label>
	<input type="password" id="pass" name="pass" class="form-control">
</div></div>

<div class="row">
	<div class="col-4 mt-2">
<label for="pass2">Confirmer le mot de passe</label>
<input type="password" id="pass2" name="pass2" class="form-control"></div>

	</div>
</div>
			<button class="btn btn-light mt-2" style=" background-color: orange;">Valider</button>
		</form>
	</div>


{% endblock %}
