{% extends 'baseManager.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	
<h1 class="mt-5"></h1>


<table class="table table-hover container mx-auto">

<input type="color" name="col_couleur" id="col_couleur" value="#b21617" /> 

		<thead class="thead">
			<tr>
				<th>Id</th>
               <th>Nom</th>
				<th>Email</th>
				<th>Rôle</th>
				<th>Action</th>
			</tr>
		</thead>

		<tbody class="tbody">

			{% for user in user %}
				<tr>
					<th>{{ user.id }}</th>
                   <th>{{ user.name}}</th>
					<th>{{ user.email }}</th>
					<th>
						{% for role in user.roles %}
							{% if role == "ROLE_USER" %}
								User
							{% elseif role == "ROLE_ADMIN" %}
								Administrateur
									{% elseif role == "ROLE_MANAGER" %}
								Manager
							{% endif %}
						{% endfor %}
					</th>
					<th>
							<a href="{{ path('admin_edit_user', {id: user.id}) }}" class="btn btn-primary">
								<i class="fa fa-pencil-square-o" style='font-size:25px' aria-hidden="true"></i>
							</a>
					<th>
						<div class="div_btn">
						
								<form method="post" action="{{ path('admin_delete_user', {id: user.id}) }}"
								 style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur ?')">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
									<button class="btn btn-danger">
										<i class="fa fa-trash" style='font-size:25px' aria-hidden="true"></i>
									</button>

								</form>
							
						</div>
					</th>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas d'utilisateurs</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
<div class="pagination">{{ knp_pagination_render(user) }}


{% endblock %}
