{% extends 'baseManager.html.twig'%}

{% block title %}
Manageeer
{% endblock %}
{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">

{% endblock %}



{% block body %}
<div id="content" style="text-align:center">
	<div class="mt-5">
		<h1 class="h1" style="font-style:italic">
				Profile du Manager
				{{ app.user.name }}</h1>
			<hr>
			<div>
				<h2 class="h3">Mes informations personelles</h2>
			<div id = "coin" >
			
			{#<img src =" {{ asset ('/uploads/'~ app.user.photo )}}"
			 style=" border-radius: 3%;">
			</div>#}
			
				<p style="color:black;font-size:20px">
				<b>Nom d'utilisateur:</b>
					{{ app.user.name }}
					<br>
					<b>Adresse mail</b> :
					{{ app.user.email }}
				</p>
			</div>
		</div>


			{% for message in app.flashes('message') %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% endfor %}

			<a href="{{ path('manager_name_edit') }}" class="btn btn-light style=" background-color: #287892;color:white"">Modifier le profile</a>


			<a href="{{ path('manager_passe_edit') }}"  class="btn btn-light" 
			 style=" background-color: #287892;color:white">



				Modifier le mot de passe</a>

			<h2>
			<br>
				<div>
					Vous avez
					{{ app.user.tickets|length }}
					tickets</div>
			</h2>

		</div>
		
	</div>
{% endblock %}

