<div class="container mt-5">

	<div>
		{{ form_start(form) }}


		<div class="row">
			<div class="col-4 mt-2">{{ form_rest(form) }}</div>
		</div>

		<div class="col-4 mt-2 ">
			<button type="submit" class="btn btn-light" style=" background-color: orange;">Enregistrer</button>
		</div>


		{{ form_end(form) }}
	</div>
