{% extends 'BaseAdmin.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">
	<h1 class="mt-5">Status</h1>

	{{ include('admin/status/_form.html.twig') }}
	</div>
{% endblock %}
