{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}

	<h1 class="mt-5">Statistiques recherche</h1>

	<form class="navbar-form navbar-right" method="post" action="{{ path('admin_ticket') }}">
		<input type="text" class="form-control" placeholder="Search..." name="motcle">
		<table class="table mt-4">
			<thead>
				<tr>
					<th>Id</th>
					<th>Crée par</th>
					<th>crée le</th>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Domain</th>
					<th>Sous Domain</th>
					<th>priorité</th>
					<th>statut</th>
					<th>responsable</th>
					<th></th>
				</tr>
			</thead>

			<tbody class="tbody">

				{% for ticket in ticket %}
					<tr>
						<th>{{ ticket.getId() }}</th>
						<th>{{ ticket.getUtilisateurs().getEmail() }}</th>
						<th>{{ ticket.getDateTicket()|date("d/m/Y") }}</th>
						<th>{{ ticket.getTitreTicket() }}</th>
						<th>{{ ticket.getCategorie().getNomCategorie() }}</th>
						<th>{{ ticket.getDomain().getNomDomain }}</th>
						<th>{{ ticket.getSousDomain().getNomSsDomain() }}</th>
						<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>
						<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>
						<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>

						<th>
							<div class="div_btn">
								<a href="{{ path('admin_ticket_show', {id: ticket.id}) }}" class="btn btn-info">
									Voir</a>

							</div>
						</th>
					</tr>

				{% else %}
					<tr>
						<th colspan="8">Il n'y a pas de priorité</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pagination">
			{{ knp_pagination_render(ticket) }}
		</div>

	{% endblock %}
