<div class="container mt-5">

<div>
    {{ form_start(form) }}


<div class="row justify-content-around">
			<div class="col-4 mt-2">{{form_row(form.nom_categorie)}}</div>

			<div class="col-4 mt-2"></div>



		</div>
        <div class="row justify-content-around">
			<div class="col-4 mt-2"><button type="submit"class="btn btn-ligth" 
            style="background-color: #287892;color:white">Enregistrer</div>

			<div class="col-4 mt-2"></div>



    {{ form_end(form) }}
</div>