{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">



	{{ include('admin/Categories/_form.html.twig') }}
	</div>
{% endblock %}
