{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}


{% block stylesheets %} <link rel="stylesheet" href ="{{ asset('css/user.css') }}">
<link rel="stylesheet" href ="{{ asset('css/ticket.css') }}">
<style>

.table-title {
    padding-bottom: 15px;
    background: #287892;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
</style>
 {% endblock %}





{% block body %}

<div class="container mt-5">
<br><br><br>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Liste des <b>catégories </b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href=" {{ path('admin_category_new')}}"
                         class="btn btn-secondary">
                         <i class="material-icons">&#xE147;</i>
                          <span>ajouter une catégorie</span></a>
                    </div>
                </div>
            </div>
            <table  class="table table-striped table-hover" data-sortable="true" 
    data-filter-control="true"  id="myTable"  style="font-size:17px">
    <div class="loading-text">    </div>
                <thead>
                    <tr>
                 <th>Id</th>
				<th>Catégorie</th>
				<th>Crée le </th>
				<th>Action</th>
                    </tr>
                </thead>
				{% for category in category %}
                <tbody>
                    <tr>
                        <td>{{ category.id }}</td>
					<td>{{ category.nomCategorie }}</td>
					<td> {{category.DateCategorie|date("d/m/Y") }}</td>
								
                        <td>
                            <a href="{{ path('admin_category_edit', {id: category.id})}}"
                             class="settings"
                             title="Settings" data-toggle="tooltip">
                             <i class="material-icons" style="color:green">edit</i></a>

                           <a href="{{ path('admin_categorie_delete', {id: category.id}) }}" 
                onclick="return confirm('Etes-vous sûr de vouloir supprimer cette ligne?')">
               <i class="material-icons" style ="color:red">&#xE5C9;</i>
                        </td>
                    </tr>
                   
                   {% endfor %}
                </tbody>
            </table>
            <div class="clearfix">
                
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Précédent</a></li>
                    
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    
                    <li class="page-item"><a href="#" class="page-link">Suivant</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>    

 {% block javascripts %}
 <script>
$(function() {
    $('#myTable').bootstrapTable()
  })
</script>

<script>
$(document).ready(function () {
$('#myTable').DataTable();
} );

</script>

 <script>
$('#myTable').DataTable({
  "language": {
    "sProcessing": "Traitement en cours ...",
    "sLengthMenu": "Afficher _MENU_ lignes",
    "sZeroRecords": "Aucun résultat trouvé",
    "sEmptyTable": "Aucune donnée disponible",
    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
    "sInfoEmpty": "Aucune ligne affichée",
    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Chercher:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Chargement...",
    "oPaginate": {
      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
    },
    "oAria": {
      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
    }
  }
});
</script>

  <script src="{{ asset('js/user.js') }}"> </script>
        {% endblock %}
       
{% endblock %}
