{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container mt-5">

	

	{{ include('admin/Categories/_form.html.twig') }}
{% endblock %}
