	.pagination {
          
			display: flex;
			width: 100%;
			justify-content: center;
			margin: space(3) 0;
			overflow-y: hidden;
			padding-top: 4px;
			padding-bottom: 6px;
		}
		.pagination a {
			margin: 0.15em;
			background-color: orange;
			padding: 0.45em;
			color: #f1f1f1;
		}

		.pagination span {
			padding: 0 0.25em;
		}

		.pagination a:hover {
			background: var(--border);
			color: #111;
		}

	body {
				background-color: #fff;
				

				font-family: "Lato", sans-serif;
			}

			/* Fixed sidenav, full height */
			.sidenav {
				height: 100%;
				width: 180px;
				position: fixed;
				z-index: 1;
				top: 0;
				left: 0;
				background-color: #0B0130;


				overflow-x: hidden;
				padding-top: 20px;
			}

			/* Style the sidenav links and the dropdown button */
			.sidenav a,
			.dropdown-btn {
				padding: 19px 0 0 8px;
				text-decoration: none;
				font-size: 20px;
				color: #818181;
				display: block;
				border: none;
				background: none;
				width: 100%;
				text-align: left;
				cursor: pointer;
				outline: none;
			}

			/* On mouse-over */
			.sidenav a:hover,
			.dropdown-btn:hover {
				color: #f1f1f1;

			}

			/* Main content */
			.main {
				margin-left: 200px; /* Same as the width of the sidenav */
				font-size: 20px; /* Increased text to enable scrolling */
				padding: 0 10px;
			}

			/* Optional: Style the caret down icon */
			.fa-caret-down {
				float: right;
				padding-right: 8px;
			}
			
		.btn-ligth, .btn-ligth:hover, .btn-ligth:active, .btn-light:visited {
    background-color: orange;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
background-color: #0B0130;
}
.textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}