{% extends 'BaseAdmin.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
<div class="container mt-5">

	<div>
		{{ form_start(form) }}


		<div class="row">
<div class="col-4 mt-2">{{ form_row(form.email) }}</div>
<div class="col-4 mt-2">{{ form_row(form.name) }}</div>
		
		</div>

		<div class="col-4 mt-2 ">
		<div class="col-4 mt-2">{{ form_row(form.roles) }}</div>

			<button type="submit" class="btn btn-light" style=" background-color: orange;">Enregistrerr</button>
		</div>


	

{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }}


	</div>






{% endblock %}

