{% extends 'BaseAdmin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-5">Modifier le responsable</h1>
{{ include('admin/responsable/form.html.twig')}}
	</div>
{% endblock %}


