{% extends 'BaseAdmin.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
<div class="container mt-5">


	{#<h1 class="mt-5">Liste des responsables</h1>
	<a href="{{ path('admin_responsable_new') }}" class="btn btn-light mt-5 ">
		<i class="fa fa-plus" aria-hidden="true"></i>Ajouter un responsable</a>

	<h1 class="mt-5"></h1>#}

	<table class="table table-hover ">

		<thead class="thead">
			<tr>
				<th>Id Administrateur</th>
				<th>Email</th>
				<th>Roles </th>
				

			</tr>
		</thead>

		<tbody class="tbody">

			{% for responsable in responsables %}
		
				<tr>
					<th>{{ responsable.id }}</th>
                   {#{ responsable.getIdUtilisateur().getId()}#}
					<th>{{ responsable.Email }}</th>
					
					{#{ responsable.getRoles() }#}
					<th>
						{% for role in responsable.roles %}
							{% if role == "ROLE_USER" %}
								Utilisateur
								{% elseif role == "ROLE_ADMIN" %}
								Administrateur
								{% elseif role == "ROLE_MANAGER" %}
								Manager
							{% endif %}
						{% endfor %}
					</th>
					<th>
					
					


					<th>
						<div class="div_btn">
<a href="{{ path('admin_responsable_edit', {id: responsable.id}) }}" class="btn btn-primary">


<i class="fa fa-pencil-square-o" style='font-size:25px;color:white;' color:white;"aria-hidden=" true"></i>


							</a>


							<form method="post" action="{{ path('admin_responsable_delete', {id: responsable.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sur ?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ responsable.id) }}">
								<button class="btn btn-danger">
									<i class="fa fa-trash" style='font-size:25px' aria-hidden="true"></i>

								</button>
							</form>
						</div>
					</th>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Il n'y a pas de priorité</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
