{% extends 'BaseAdmin.html.twig' %}

{% block title %}New Responsable
{% endblock %}

{% block body %}
<div class="container mt-5">
	<h1>ajouter un nouveau Responsable</h1>

	{{ include('admin/responsable/form.html.twig') }}
	</div>
{% endblock %}
