{% extends 'BaseAdmin.html.twig' %}

{% block title %}Responsable
{% endblock %}

{% block body %}
	<h1>Responsable</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ responsable.id }}</td>
			</tr>
			<tr>
				<th>Nom_responsable</th>
				<td>{{ responsable.NomResponsable }}</td>
			</tr>
			<tr>
				<th>Prenom_responsable</th>
				<td>{{ responsable.prenomResponsable }}</td>
			</tr>
			<tr>
				<th>Prenom_responsable</th>
				<td>{{ responsable.getIdUtilisateurs().getRoles()}}</td>
			</tr>
			
		</tbody>
	</table>


	<a href="{{ path('admin_responsable_edit', {'id': responsable.id}) }}">edit</a>

	{{ include('admin_responsable/_delete_form.html.twig') }}
{% endblock %}
