{% extends 'baseClient.html.twig' %}
{% block title %}Création de ticket !
{% endblock %}

{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">

{% endblock %}



{% block body %}
       {# <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>#}

	<div class="container">


{{ form_start(form)}}



	
	<div class="row justify-content-around">

			<div class="col-7"> {{form_row(form.titre_ticket)}}</div>
		</div>



	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->

		<div class="row justify-content-around" >

			<div class="col-7">{{form_row(form.categorie)}}</div>

		</div>



			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.Domain)}}</div>
			</div>




		<!-- Columns are always 50% wide, on mobile and desktop -->
	
			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.sous_domain)}}</div>
			</div>

		


			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.Priorite)}}</div>
			</div>




			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.commentaire)}}</div>
			</div>

		
		


			<div class="row justify-content-around">

				<div class="col-7">{{form_row(form.file)}}</div>
			</div>

	
	
		    	<div class="row justify-content-around">

			<div class="row justify-content-around">
          
				<button type="submit"  style="background-color: #287892;color:white">créer</button>


			</div>
            </div>
		
		


		{{ form_widget(form._token) }}

		{{ form_end(form, {'render_rest': false}) }}
</div>

{% endblock %}
{% block javascripts %}
	{% endblock %}
