{% extends 'base.html.twig' %}

{% block title %}Hello UserChekerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Utilisateur/Desktop/PROJET_SOLWAY - Copie - Copie-20210515T123904Z-001/PROJET_SOLWAY - Copie - Copie/src/Controller/UserChekerController.php'|file_link(0) }}">src/Controller/UserChekerController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Utilisateur/Desktop/PROJET_SOLWAY - Copie - Copie-20210515T123904Z-001/PROJET_SOLWAY - Copie - Copie/templates/user_cheker/index.html.twig'|file_link(0) }}">templates/user_cheker/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
