<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon profile{% endblock %}</title>
       


          
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22> <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          
                 <link rel="stylesheet" href ="{{ asset('css/ticket.css') }}">



        {% block javascripts %}
        {% endblock %}
       
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
         <script src="{{ asset('js/scripts.js') }}"> </script>

<style>

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
#sidebarCollapse{
background-color:#287892;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #EBEEEF;
    }

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.form-group #recherche_type_admin_affectation {
  margin-bottom: 1rem;
  margin-top: -35px;
  margin-left: 300px;
  width:500px
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 25px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 250px;
    background:  #252C2F;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:white;
    border:solid 1px #252C2F;
    
}

#sidebar ul.components {
    padding: 30px 0;
    border-bottom: 1px solid #252C2F;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #299be4;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #252C2F;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    TAAAAAAABLE STYLE 
----------------------------------------------------- */


</style>




    </head>
  <body>



    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
               	<img src="{{ absolute_url(asset('assets/Images/Logo_slogan.jpg'))}}" width="105%"/><br>
                <br>
            </div>
                <br>
            <ul class="list-unstyled components">
                 <h3> Profile du Manageeeer <b> {{app.user.name }} </b> </h3>
                  <br>
                  
                <li>
                    <a href="{{ path('manager_profile') }}"><i class="fa fa-user-circle ;"
                                 style="font-size:30px;color:white" 
                                aria-hidden="true"></i>
                    Mon profile</a>
                   
                </li>
                <li>
                        <a href="{{ path('ticket_liste') }}"><i class="fa fa-sticky-note" aria-hidden="true"
                        style="font-size:30px;color:white"></i>
                    Mes tickets </a>
                </li>
               
                <li>
                    <a href="{{ path('manager_recherche_avancé')}}" > <i class="fa fa-filter" aria-hidden="true"
                     style="font-size:30px;color:white"></i>
                    Statistiques</a>
                </li>
                <li>
                    <a href="{{path('app_logout')}}"><i class="fa fa-sign-out" aria-hidden="true"
                                         style="font-size:30px;color:white"></i>
                    Me deconnecter</a>
                </li>
                
            </ul>

            {#<ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>#}
        </nav>

        <!-- Page Content  -->
        <div id="content">
{#<nav class="navbar navbar-expand-lg navbar-light bg-light" style="color:red">#}
                <div class="container-fluid mt-5">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" >
                       
                     <i class="fa fa-bars" aria-hidden="true" ></i>

                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" 
                    type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                           
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="material-icons"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile')}}"><i class="fa fa-user-circle ;"
                                 style="font-size:30px;color:grey" 
                                aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_logout')}}"><i class="fa fa-power-off" 
                                style="font-size:30px;color:red;"  
                                aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </nav>


        {% block body %}{% endblock %}
      

    </body>
 


   
</html>
