<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sc{% endblock %}</title>
       


          
        {% block stylesheets %}
        {% endblock %}
        


        {% block javascripts %}
        {% endblock %}
       




        {% block body %}{% endblock %}
      

    </body>
 


   
</html>
