<form method="post" action="{{ path('admin_delete_ticket', {'id':ticket.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
	<button class="btn">Delete</button>
</form>
