{% extends 'baseManager.html.twig' %}
{% block title %}Création de ticket !
{% endblock %}

{% block body %}
	<div class="container">

		{{ form_start(form)}}
		<div class="row">
			<div class="col-12 col-md-8">

				<div class="col-12 col-md-8">{{form_row(form.titre_ticket)}}</div>
			</div>

		</div>


		<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
		<div class="row">
			<div class="col-12 col-md-8">

				<div class="col-12 col-md-8">{{form_row(form.categorie)}}</div>

			</div>

			<div class="row">
				<div class="col-12 col-md-8">

					<div class="col-12 col-md-8">{{form_row(form.Domain)}}</div>
				</div>

			</div>


			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row">
				<div class="col-12 col-md-8">

					<div class="col-12 col-md-8">{{form_row(form.sous_domain)}}</div>
				</div>

			</div>
			<div class="row">
				<div class="col-12 col-md-8">

					<div class="col-12 col-md-8">{{form_row(form.Priorite)}}</div>
				</div>

			</div>
			<div class="row">
				<div class="col-12 col-md-8">

					<div class="col-12 col-md-8">{{form_row(form.utilisateurs)}}</div>
				</div>

			</div>
			<div class="row">
				<div class="col-12 col-md-8 mt-2">

					<div class="col-12 col-md-8">{{form_row(form.affectation)}}</div>
				</div>

			</div>

			<div class="row">
				<div class="col-12 col-md-8">

					<div class="col-12 col-md-8">{#{form_row(form.message)}#}</div>
				</div>

			</div>
			<div class="col"></div>
<div class="row">
	<div class="col-12 col-md-8 mt-2">

		<div class="col-12 col-md-8">{{form_row(form.file)}}</div>
	</div>

			<div class="row">
				<div class="col-12 col-md-8">

					<button type="submit" class="btn btn-warning mt-2">Envoyer</button>


				</div>

			</div>
			<div class="col"></div>


			{{ form_end(form) }}


		{% endblock %}
		{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script src="{{ asset('js/images.js') }}"></script>
	 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = () => {
            // On va chercher la région
            let region = document.querySelector("#admin_ticket_Domain");
            region.addEventListener("change", function(){
                let form = this.closest("form");
                let data = this.name + "=" + this.value;
                
                fetch(form.action, {
                    method: form.getAttribute("method"), 
                    body: data,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
                    }
                })
                .then(response => response.text())
                .then(html => {
                    let content = document.createElement("html");
                    content.innerHTML = html;
                    let nouveauSelect = content.querySelector("#annonces_departements");
                    document.querySelector("#annonces_departements").replaceWith(nouveauSelect);
                })
                .catch(error => {
                    console.log(error);
                })
            });
        }
    </script>
{% endblock %}
