{% extends 'BaseAdmin.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
<div id="content">

	<div>
		{{ form_start(form) }}

		<h1 class="mt-5"></h1>

		<div class="row justify-content-around">
			<div class="col-4 mt-2">{{form_row(form.id)}}</div>

			<div class="col-4 mt-2">{{form_row(form.titre_ticket)}}</div>


		</div>
		<div class="row row justify-content-around">
			<div class="col-4 mt-2">{{form_row(form.categorie)}}</div>


			<div class="col-4 mt-2">{{form_row(form.Domain)}}</div>


		</div>
		<div class="row row justify-content-around">


			<div class="col-4 mt-2 ">{{form_row(form.sous_domain)}}</div>

			<div class="col-4 mt-2">{{form_row(form.Priorite)}}</div>

		</div>
		<div class="row justify-content-around">
			<div class="col-4 mt-2">{{form_row(form.statut_ticket)}}</div>

			<div class="col-4 mt-2">{{form_row(form.affectation)}}</div>



		</div>
        <div class="row justify-content-around">
			<div class="col-4 mt-2"><button type="submit"class="btn btn-ligth" 
            style="background-color: #287892;color:white">Valider</div>

			<div class="col-4 mt-2"></div>

		</div>


	

{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }}


	</div>






{% endblock %}

