{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ticket {{ ticket.id }}</h1>
    
    <div>
        <h2>Informations du ticket :</h2>
        {# Afficher les informations du ticket #}
        {{ include('admin/ticket/show.html.twig', {'ticket': ticket}) }}
    </div>

    <div>
        <h2>Conversation :</h2>
        {# Afficher la conversation du ticket #}
        {{ include('conversation/messageSolway.html.twig', {'ticket': ticket}) }}
    </div>
{% endblock %}

