{% extends 'base-pdf.html.twig' %}
{% block title %}Détails du ticket{% endblock %}
{% block body %}
<img src="{{ absolute_url(asset('Images/Logo_slogan.jpg'))}}"  width="30%"/>
<h1>SOLWAY Consulting & Services </h1>
</br>SASU au capital de 1000€<br>
14-30 Rue de la Mantes <br>
92700 Colombes<br>
 </p>
<br>


    <p>Siret: {{ "878214998 00022" }} <br>
        TVA: {{ "FR70 878214998" }} <br>
        Responsable: {{ "Amine HBIBIY" }} <br>
    </p>

    <hr style="height: 4px; color: #FFB533; background-color: #FFB533; width: 100%; border: none;">
    <div>
        <h2 class="h3">Ticket N° {{ ticket.getId() }}</h2>

        <table class="table table-striped" >
				<tr>
					<td>Identifiant du ticket
					</td>
					<td>{{ticket.getId()}}</td>
				</tr>
				<tr>
					<td>identifiant du client
					</td>
					<td>{{ticket.getUtilisateurs().getName()}}</td>
				</tr>
				<tr>
					<td>Titre</td>
					<td>{{ticket.TitreTicket}}</td>
				</tr>
				<tr>
					<td>Crée le</td>
					<td>{{ ticket.DateTicket|date("m/d/Y") }}</td>
				</tr>
				<tr>
					<td>Crée par</td>
					<td>{{ ticket.getUtilisateurs().getEmail()}}</td>

				</tr>
				<tr>
					<td>Catégorie</td>
					<td>{{ticket.Categorie.NomCategorie}}</td>

				</tr>
				<tr>
					<td>Domain</td>
					<td>{{ ticket.Domain.NomDomain}}</td>
				</tr>
				<tr>
					<td>Sous domain</td>
					<td>{{ ticket.Domain.NomDomain}}</td>
				</tr>
				<tr>
					<td>Priorité</td>
					<td>{{ ticket.Priorite.NiveauPriorite}}</td>

				</tr>
				<tr>
					<td>Status</td>
					<td>{{ ticket.Priorite.NiveauPriorite}}</td>

				</tr>
				<tr>
					<td>Message</td>
					<td>{{ ticket.commentaire | raw}}</td>
				</tr>
		</div>
    </table>
      
{% endblock %}
