{% extends 'BaseAdmin.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
	<h1 class="mb-5"></h1>

	{{ form_start(form)}}


	<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->


</div>
<div class="row">
	<div class="col-12 col-md-8">

		<div class="col-12 col-md-8">Selectionner le responsable</div>
	</div>

</div>


<div class="row">
	<div class="col-12 col-md-8">

		<div class="col-12 col-md-8">{{form_row(form.utilisateurs)}}</div>
	</div>

</div>

<h1 class="mb-2"></h1>
<div class="col"></div>
<div class="row">
	<div class="col-12 col-md-8">

		<button type="submit" class="btn btn-primary">Envoyer</button>


	</div>

</div>
<div class="col"></div>


{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }}{% endblock %}
