
{% extends 'BaseAdmin.html.twig' %}
{% block title %}Détail du ticket
{% endblock %}
{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">
<style>
.visuallyhidden {
  display: none;
}

.wizard-progress {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  float: left;
  white-space: nowrap;
}

.wizard-progress li {
  float: left;
  margin-right: 50px;
  text-align: center;
  position: relative;
  width: 100px;
}

.wizard-progress .step-name {
  display: table-cell;
  height: 32px;
  vertical-align: bottom;
  text-align: center;
  width: 100px;
}

.wizard-progress .step-name-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}

.wizard-progress .step-num {
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 50%;
  width: 18px;
  display: inline-block;
  margin-top: 10px;
}

.wizard-progress .step-num:after {
  content: "";
  display: block;
  background: #000;
  height: 5px;
  width: 130px;
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.wizard-progress li:last-of-type .step-num:after {
  display: none;
}

.wizard-progress .active-step .step-num {
  background-color: #ff0500;
}
.table-responsive {
    margin: 20px 20px;
    
}



.wrapper {
	 width: 330px;
	 font-family: 'Helvetica';
	 font-size: 19px;
}
 .StepProgress {
	 position: relative;
	 padding-left: 45px;
	 list-style: none;
}
 .StepProgress::before {
	 display: inline-block;
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 15px;
	 width: 15px;
	 height: 100%;
}
 .StepProgress-item {
	 position: relative;
	 counter-increment: list;
}
 .StepProgress-item:not(:last-child) {
	 padding-bottom: 20px;
}
 .StepProgress-item::before {
	 display: inline-block;
	 content: '';
	 position: absolute;
	 left: -30px;
	 height: 100%;
	 width: 10px;
}
 .StepProgress-item::after {
	 content: '';
	 display: inline-block;
	 position: absolute;
	 top: 0;
	 left: -37px;
	 width: 30px;
	 height: 20px;
	 border: 2px solid #CCC;
	 border-radius: 50%;
	 background-color: #FFF;
}
 .StepProgress-item.is-done::before {
	 border-left: 2px solid orange;
}
 .StepProgress-item.is-done::after {
	 content: "✔";
	 font-size: 13px;
	 color: #FFF;
	 text-align: center;
	 border: 2px solid orange;
	 background-color: orange;
}
 .StepProgress-item.current::before {
	 border-left: 2px solid orange;
}
 .StepProgress-item.current::after {
	 content: counter(list);
	 padding-top: 1px;
	 width: 25px;
	 height: 25px;
	 top: -4px;
	 left: -40px;
	 font-size: 14px;
	 text-align: center;
	 color: green;
	 border: 2px solid orange;
	 background-color: white;
}
 .StepProgress strong {
	 display: block;
}
.h1{
 padding-right:20px

}
</style>
</style>
{% endblock %}
{% block body %}
  <h1 style="padding-left:200px">
        Historique du ticket n° {{ticket.id}}
   
</h1>
    <div class="container mt-5">
	 <div style="margin-left:200px">
<div class="wrapper">
<ul class="StepProgress">
{% for status in ticket.etats %}
  <div class="StepProgress-item current"><strong>{{ status.status.getEtatTicket()}} {{status.date()|date("d/m/Y H:i")}}</strong>
  </div>
  {% endfor %}
</ul>
</div>
</div>

</div>

		{% endblock %}































































