<!DOCTYPE html>
<html>
    <head>

{% block body %}
{#{<div class="container-xl">}#}
{% block stylesheet %}
<link rel="stylesheet" href ="{{ asset('css/ticket.css') }}">

   {# <title>Solway Consulting & Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">


 <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22> <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">
#}




 <title>Solway Consulting & Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    


 <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22> <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
          
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">


 <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22> <text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">

    
{% endblock %}
    
       
    </head>
    
<style>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.fixed-table-loading {
    visibility: hidden;
    top: 0px;
    display: none;
}

.loading-wrap {
    visibility: hidden;
    display: none;
}

.table-loading {
    visibility: hidden;
    display: none;
}

.loading {
    visibility: hidden;
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #EBEEEF;
    }

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 25px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 250px;
    background:  #252C2F;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background:white;
    border:solid 1px #252C2F;
    
}

#sidebar ul.components {
    padding: 30px 0;
    border-bottom: 1px solid #252C2F;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #299be4;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #252C2F;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #252C2F;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.table-responsive {
    margin: 30px 0;
}
.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #287892;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 120px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
#sidebarCollapse{
background-color:#287892;
}

</style>


    
    <div class="wrapper">
    
        <!-- Sidebar  -->
        <nav id="sidebar">
        
            <div class="sidebar-header">
            <img src="{{ absolute_url(asset('assets/Images/Logo_slogan.jpg'))}}" width="105%"/><br>
             <br>
            </div>
            <br>
            <ul class="list-unstyled components">
             <h3>  Profile de <b> {{app.user.name }} </b ></h3>
                    <br>
               <li class="active">
                    <a href="{{ path('admin_profile') }}"> <i class="fa fa-user-circle ;"
                                 style="font-size:30px;color:white" 
                                aria-hidden="true"></i>
                    Mon profile</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                          <a href="#">Mon profile</a> 
                        </li>
                        <li>
                            <a href="#">Administration</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                        <a href="{{ path('admin_ticket') }}"><i class="fa fa-sticky-note" aria-hidden="true"
                        style="font-size:30px;color:white"></i>
                    Mes tickets </a>
                </li>
                 <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                   <i class="fa fa-cog" aria-hidden="true" style="font-size:30px;color:white"></i>
                    Administration</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{{ path('admin_category')}}">Catégorie</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_domaine') }}">Domaine</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_sous_domaine') }}">Sous domaine</a>
                        </li>
                         <li>
                            <a href="{{ path('admin_priorite') }}">Priorité</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_status') }}">Status</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_user') }}">Utilisateurs</a>
                        </li>
                    </ul>
                </li>
                <li>

 <li>
                    <a href="{{path('admin_statistique')}}" > <i class="fa fa-filter" aria-hidden="true"
                     style="font-size:30px;color:white"></i>
                    Statistiques</a>
                </li>
                <li>
                    <a href="{{path('app_logout')}}"><i class="fa fa-sign-out" aria-hidden="true"
                                         style="font-size:30px;color:white"></i>
                    Me deconnecter</a>
                </li>
            </ul>

        </nav>
        

        <!-- Page Content  -->
       
        <div id="content">
<br><br>
      {# <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>

                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    
                     aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                           
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="material-icons"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile') }}"><i class="fa fa-user-circle ;" style="font-size:30px;color:green" 
                                aria-hidden="true"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('app_logout')}}"><i class="fa fa-power-off" style="font-size:30px;color:red;"  
                                aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

</head>


		
		<h1 class="mt-5"></h1>
        <br><br>


   <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2> Table des tickets </b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="{{ path('admin_ticket_new') }}" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span> Ajouter un ticket</span></a>
                    </div>
                </div>
            </div>
    <table  class="table table-striped table-hover" data-sortable="true" 
    data-filter-control="true"  id="myTable"  style="font-size:17px">
    <div class="loading-text">    </div>
    <thead>
    <tr>
                       <th data-sortable="true" >ID</th>
                      				
                        <th data-field="CréePar" data-filter-control="select"
                         data-sortable="true">Crée par</th>
                        <th  data-sortable="true"  >Crée le </th>
                        <th width='500px' data-sortable="true" >Titre</th>
                        <th data-field="Catégorie" data-filter-control="select" data-sortable="true" > Catégorie</th>
                       
                        <th data-field="SousDomaine" data-filter-control="select" data-sortable="true" >Sous domaine</th>
                        <th data-field="Priorité" data-filter-control="select" data-sortable="true"  >Priorité</th>						
                        <th data-field="Status" data-filter-control="select" data-sortable="true" >Status</th>
                        <th data-field="affectation" data-filter-control="select" data-sortable="true" >affectation</th>
                        <th  width='500px' >Action</th>
    
    </tr>
    </thead>
    <tbody>
    {% for ticket in ticket %}

         <td height="50">{{ ticket.getId() }}</td>
		<td>{{ ticket.getUtilisateurs().getEmail() }}</td>

		
		<td >{{ ticket.getDateTicket()|date("d/m/Y") }}</td>
		<td  width='500px'> {{ ticket.titreTicket}}</td>
		<td>{{ ticket.getCategorie().getNomCategorie() }}</td>
		<td>{{ ticket.getSousDomain().getNomSsDomain() }}</td>
		<td> {{ ticket.getPriorite().getNiveauPriorite() }} </td>


        {% if ticket.getStatutTicket().getEtatTicket == 'Nouveau' %}

           <td> <span class="badge badge-primary" style="border-radius:20px">
           {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>


    {% elseif  ticket.getStatutTicket().getEtatTicket == 'En cours' %}

            <td> <span class="badge badge-success" style=" border-radius:20px" >
            {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

   {% elseif  ticket.getStatutTicket().getEtatTicket == 'À recetter' %}
               <td> <span class="badge badge-warning" style=" border-radius:20px" >
               {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>


               {% elseif   ticket.getStatutTicket().getEtatTicket == 'Réouvert' %}
               <td> <span class="badge badge-info" style=" border-radius:20px" >
            {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

                {% elseif ticket.getStatutTicket().getEtatTicket == 'Terminé' %}
                  <td> <span class="badge badge-danger" style=" border-radius:20px" >
            {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

	  {% endif %}
     






		{% if ticket.getAffectation() != null %}

			<td>{{ ticket.getAffectation().getName() }}</td>
		{% else %}
			<td>En attente </td>
		{% endif %}

                        <td>
                        <a href="{{ path('admin_message',{id: ticket.id}) }}" class="modifier" title="voir" 
                        data-toggle="tooltip">
                        <i class="material-icons" style="color:green">create</i></a>

  <a href="{{ path('admin_ticket_delete', {id: ticket.id}) }}" 
                onclick="return confirm('Etes-vous sûr de vouloir supprimer cette ligne?')">
               <i class="material-icons" style ="color:red">&#xE5C9;</i>
                        </td>
                    </tr>
                    
               {% endfor %}

    </tbody>
    </table>
</div>

     {% block javascripts %}
     

    <script type="text/javascript" src= "typehttps://code.jquery.com/jquery-3.5.1.js"> </script>
    <script type="text/javascript" src= "https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src= "https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src= "https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src= "https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
         <script src="{{ asset('js/scripts.js') }}"> </script>


<script type="text/javascript" src="libs/FileSaver/FileSaver.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>

 <script src="{{ asset('js/ticket.js') }}"> </script>
 
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>



<script>
$(function() {
    $('#myTable').bootstrapTable()
  })
</script>

<script>
$(document).ready(function () {
$('#myTable').DataTable();
} );

</script>
<script>
$('#myTable').DataTable({
  "language": {
    "sProcessing": "Traitement en cours ...",
    "sLengthMenu": "Afficher _MENU_ lignes",
    "sZeroRecords": "Aucun résultat trouvé",
    "sEmptyTable": "Aucune donnée disponible",
    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
    "sInfoEmpty": "Aucune ligne affichée",
    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Chercher:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Chargement...",
    "oPaginate": {
      "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
    },
    "oAria": {
      "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
    }
  }
});
</script>
     {% endblock %}
 
{#{<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>}
<script type="text/javascript" src="libs/FileSaver/FileSaver.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
 <script src="{{ asset('js/ticket.js') }}"> </script>#}
{% endblock %}

</body>

</html>