{% extends 'base-pdf.html.twig' %}
{% block title %}izan{% endblock %}
{% block body %}
<img src="{{ absolute_url(asset('Images/Logo_slogan.jpg'))}}"  width="30%"/>
<h1>SOLWAY Consulting & Services </h1>
</br>SASU au capital de 1000€<br>
29 TERRASSE DE L’UNIVERSITE <br>
92000 NANTERRE<br>
RCS NANTERRE 878 214 998 </p>
<br>


    <p>Siret: {{ "878214998 00022" }} <br>
        TVA: {{ "FR70 878214998" }} <br>
        Responsable: {{ "Amine HBIBIY" }} <br>
    </p>
   
	<table class="table mt-4">
		<thead>
			<tr>
				<th>Id</th>
				<th>Crée par</th>
				<th>crée le</th>
				<th>Titre</th>
				<th>Catégorie</th>
				<th>Domain</th>
				<th>Sous Domain</th>
				<th>priorité</th>
				<th>statut</th>
				<th>responsable</th>
				<th></th>
			</tr>
		</thead>

		<tbody class="tbody">

			{% for ticket in ticket %}
				<tr>
					<th>{{ ticket.getId() }}</th>
					<th>{{ ticket.getUtilisateurs().getEmail() }}</th>
					<th>{{ ticket.getDateTicket()|date("m/d/Y") }}</th>
					<th>{{ ticket.getTitreTicket() }}</th>
					<th>{{ ticket.getCategorie().getNomCategorie() }}</th>
					<th>{{ ticket.getDomain().getNomDomain }}</th>
					<th>{{ ticket.getSousDomain().getNomSsDomain() }}</th>
					<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>
					<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>
					<th>{{ ticket.getPriorite().getNiveauPriorite() }}</th>

					<th>
						<div class="div_btn">
							<a href="{{ path('admin_ticket_show', {id: ticket.id}) }}" class="btn btn-info">
								Voir</a>
							
						</div>
					</th>
				</tr>

			{% else %}
				<tr>
					<th colspan="8">Il n'y a pas de priorité</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	


    {% endblock %}