
{% extends 'BaseAdmin.html.twig' %}
{% block title %}Détail du ticket
{% endblock %}
{% block stylesheets %}
          <link rel="stylesheet" href ="{{ asset('css/styles.css') }}">
<style>
.visuallyhidden {
  display: none;
}

.wizard-progress {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  float: left;
  white-space: nowrap;
}
.wizard-progress li {
  float: left;
  margin-right: 50px;
  text-align: center;
  position: relative;
  width: 100px;
}


#bas
{
position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}



html, body {
    background: #white;
    font-family: 'Lato', sans-serif;
    margin: 0px auto;
    
       
}
::selection{
  background: rgba(82,179,217,0.3);
  color: inherit;
}

/* M E N U */
#content
{
  overflow:scroll; height:300px;
}
.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    background: rgba(27,35,42,0.9);
    z-index: 100;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: rgba(255,255,255,0.5);
    line-height: 45px;
    font-size: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: .15s all;
}
.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-left: 15px;
    }
.back:active {
    background: rgba(0,0,0,0.15);
}
.name {
    position: absolute;
    top: 3px;
    left: 110px;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}
.last {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}
.members {
    position: absolute;
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
    word-spacing: 2px;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: #EBEEEF;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 15px;
    
}
.chat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.chat .day {
    position: relative;
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.3);
    height: 20px;
    text-shadow: 7px 0px 0px #252C33, 6px 0px 0px #252C33, 5px 0px 0px #252C33, 4px 0px 0px #252C33, 3px 0px 0px #252C33, 2px 0px 0px #252C33, 1px 0px 0px #252C33, 1px 0px 0px #252C33, 0px 0px 0px #252C33, -1px 0px 0px #252C33, -2px 0px 0px #252C33, -3px 0px 0px #252C33, -4px 0px 0px #252C33, -5px 0px 0px #252C33, -6px 0px 0px #252C33, -7px 0px 0px #252C33;
    box-shadow: inset 20px 0px 0px #252C33, inset -20px 0px 0px #252C33, inset 0px -2px 0px rgba(255,255,255,0.1);
    line-height: 38px;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.chat .notification {
    position: relative;
    display: inherit;
    text-align: center;
    font-size: 13px;
    color: rgba(255,255,255,0.15);
    background: rgba(234, 247, 255, 0.035);
    line-height: 30px;
    border-radius: 300px;
    margin: 7px 35%;
    height: 30px;
    width: 30%;
    box-shadow: 0px 1px 0px rgba(0,0,0,.05), 0px -1px 0px rgba(0,0,0,.05), inset 0px 1px 0px rgba(255,255,255,.02), inset 0px -1px 0px rgba(255,255,255,.02);
    text-shadow: 0px -1px 0px rgba(0,0,0,.1), 0px 1px 0px rgba(255,255,255,.05);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}
.chat .notification time {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    padding: 8px;
    border-radius: 100px;
    background: #252C33;
    box-shadow: 0px 0px 2px rgba(255,255,255,.02), inset 0px 0px 1px rgba(27,35,42,0.1);
    height: 1px;
    line-height: 0px;
    color: rgba(255,255,255,0.1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all .2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}

.other .msg {
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #c1cbcd;
    background-color:green;
	
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-color:green;
   
	
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
    
    
}
.self .msg {
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #c1cbcd;
     background-color: #0F99E8;
    
	
}
.self:after {
    content: "";
    position: relative;
    display: inline-block;
    float: right;
    bottom: 0px;
    right: 0px;
    width: 1px;
    height: 0px;
    border: 5px solid #eef8ff;
    border-right-color: transparent;
    border-top-color: transparent;
    border-color:#0F99E8;
    box-shadow: 0px 2px 0px #c1cbcd;
	
}
.textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.msg {
    background: #eef8ff;
    min-width: 50px;
    padding: 10px;
    border-radius: 20px;
    word-break: break-all;
}
.msg .user {
    font-size: 17px;
    margin: 0 0 2px 0;
    color: white;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 5px;
    transition: all .2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg .user .range.admin {
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    color: #6aea96;
    padding: 2px;
    border-radius: 3px;
    border: solid 1px #6aea96;
    background: rgba(255,255,255,0);
    margin-left: 5px;
}
.msg p {
    font-size: 17px;
    margin: 0 0 2px 0;
    font-weight:500;
    color: white;
    transition: all .2s ease;
}
.msg img {
    position: relative;
    display: block;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all .8s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.msg time {
    font-size: 0.7rem;
    font-weight:600;
    color: white;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}

emoji{
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-left: 2px;
    margin-right: 2px;
    transform: translate3d(0px, 4px, 0px);
}
emoji.please{background-image: url(https://imgur.com/ftowh0s.png);}
emoji.lmao{background-image: url(https://i.imgur.com/MllSy5N.png);}
emoji.happy{background-image: url(https://imgur.com/5WUpcPZ.png);}
emoji.pizza{background-image: url(https://imgur.com/voEvJld.png);}
emoji.cryalot{background-image: url(https://i.imgur.com/UUrRRo6.png);}
emoji.books{background-image: url(https://i.imgur.com/UjZLf1R.png);}
emoji.moai{background-image: url(https://imgur.com/uSpaYy8.png);}
emoji.suffocated{background-image: url(https://i.imgur.com/jfTyB5F.png);}
emoji.scream{background-image: url(https://i.imgur.com/tOLNJgg.png);}
emoji.hearth_blue{background-image: url(https://i.imgur.com/gR9juts.png);}
emoji.funny{background-image: url(https://i.imgur.com/qKia58V.png);}
emoji.shit{background-image: url(https://i.imgur.com/H5Jba8r.png);}

@-webikt-keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #252C33;
    box-shadow: inset 0px 50px 0px rgba(27,35,42,0.9), inset 0px -50px 0px #eee;
}

::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border: none;
    border-radius: 100px;
    border: solid 3px #252C33;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-button {
    display: block;
    height: 26px;
}

/* T Y P E */
.typezone{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    z-index: 99;
    background: #eee;
    border: none;
    outline: none;
}
textarea, textarea:hover {
    position: absolute;
    bottom: 0px;
    left: 8%;
    right: 8%;
    width: 80%;
    height: 30px;
    z-index: 100;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    color: #666;
    font-weight: 400;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    resize: none;
    z-index: 200;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
	background-color:white;
}
textarea:focus {
    height: 300px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}
.emojis {
    position: fixed;
    display: block;
    bottom: 0px;
    left: 0px;
    width: 8%;
    height: 50px;
    background-image: url(https://i.imgur.com/VAn5Geq.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: 45% 9px;
    z-index: 100;
    cursor: pointer;
}
.emojis:active {
    opacity: 0.9;
}
.send {
    position: fixed;
    display: block;
    bottom: 0px;
    right: 0px;
    width: 8%;
    height: 50px;
    border: none;
    outline: none;
    z-index: 100;
    cursor: pointer;
    background-image: url(https://i.imgur.com/VSQxJKL.png);
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: 45% 9px;
    background-color: rgba(255,255,255,0);
}
.send:active {
    opacity: 0.85;
}
/* R E S P O N S I V E   C O N F I G U R A T I O N */

@media screen and (max-width: 750px) {
    ::-webkit-scrollbar {
    display: none;
    }
    .chat{
        margin-bottom: 55px;
	    	background-color:red;
    }
    .msg p {
        font-size: 15px;
		color: white;
    }
    .msg .user {
        font-size: 13px;
		background-color:green;
    }
    .msg img {
        width: 300px;
    }
    .chat .notification {
        font-size: 12px;
        margin: 7px 30%;
        width: 40%;
		background-color:white;
    }
    .chat .day {
        font-size: 11px;
    }
    .emojis {
        width: 25%;
    }
    .send {
        width: 25%;
    }
    textarea {
        left: 0px;
        right: 0px;
        bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 20px;
        width: 90%;
        border-radius: 0px;
        height: 28px;
        background: #fafafa;
        box-shadow: none;
        transition: all .4s cubic-bezier(0.2, -0.2, 0.2, 1.2);
    }
    textarea:focus {
        height: 30vh;
        margin-top: 30vh;
        box-shadow: 0px -20px 20px rgba(0,0,0,0.1);
    }
    form:focus ~ .typezone {
        bottom: 50vh;
    }
}
@media screen and (max-width: 550px) {
    .msg p {
        max-width: 250px;
    }
    .msg img {
        width: 200px;
    }
    .chat .notification {
        font-size: 12px;
        margin: 7px 0px;
        width: 100%;
        border-radius: 0px;
    }
    .chat .notification time {
        right: 10px;
    }
}
.wizard-progress .step-name {
  display: table-cell;
  height: 32px;
  vertical-align: bottom;
  text-align: center;
  width: 100px;
}

.wizard-progress .step-name-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: bottom;
}

.wizard-progress .step-num {
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 50%;
  width: 18px;
  display: inline-block;
  margin-top: 10px;
}

.wizard-progress .step-num:after {
  content: "";
  display: block;
  background: #000;
  height: 5px;
  width: 130px;
  position: absolute;
  bottom: 10px;
  left: 60px;
}

.wizard-progress li:last-of-type .step-num:after {
  display: none;
}

.wizard-progress .active-step .step-num {
  background-color: #ff0500;
}
.table-responsive {
    margin: 20px 20px;
    
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #287892;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #566787;
    float: right;
    font-size: 13px;
    background: #fff;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn:hover, .table-title .btn:focus {
    color: #566787;
    background: #f2f2f2;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 120px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
body {
	font-family: sans-serif;
	text-align: center;
}
#progression {
	margin: 0 auto;
	padding-bottom: 23px; 
    margin-left:200px;/* taille de la margin top et de lataille de police de la description */
}
#progression > * {
	background: #DEDEDE;
	display: inline-block;
	vertical-align: middle;
}
#progression .fait + *, #progression .fait {
	background: orange;
}
#progression .etape {
	color: white;
    text-align:center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	position: relative;
}
#progression .etape .desc {
	color: #DEDEDE;
	position: absolute;
	top: 100%;
	margin-top: 10px;
	left: 50%;
	font-size: 18px;
	margin-left: -75px;
	width: 150px;
	line-height: 1;
}
#progression .fait .desc, #progression .fait + .etape .desc {
	color: orange;
}
#progression .ligne {
	width: 100px;
	height: 8px;
	margin: 0 1px;

}
</style>
{% endblock %}


{% block body %}
	<div class="container mt-5">
   



	<div id="progression">

    {% if ticket.getStatutTicket().getEtatTicket=="Nouveau" %}
	<span class="etape fait ">
   
		1<div class="desc">Nouveau</div>
	</span><span class="ligne">
	</span>
    <span class="etape ">
		2<div class="desc">En cours</div>
	</span><span class="ligne">
	</span>
     
    <span class="etape">
		3<div class="desc">À recetter</div>
	</span><span class="ligne  ">
	</span>


    <span class="etape ">
		4<div class="desc">Réouvert</div>
	</span><span class="ligne ">
	</span>
    
    <span class="etape">
		5<div class="desc">Terminé</div>
	</span>






    
{% elseif ticket.getStatutTicket().getEtatTicket=="En cours" %}

<span class="etape fait ">
   
		1<div class="desc">Nouveau</div>
	</span><span class="ligne fait ">
	</span>
    <span class="etape fait">
		2<div class="desc">En cours</div>
	</span><span class="ligne">
	</span>
     
    <span class="etape">
		3<div class="desc">A recetter</div>
	</span><span class="ligne  ">
	</span>


    <span class="etape ">
		4<div class="desc">réouvert</div>
	</span><span class="ligne ">
	</span>
    
    <span class="etape">
		5<div class="desc">Terminé</div>
	</span>

{% elseif ticket.getStatutTicket().getEtatTicket=="À recetter" %}

<span class="etape fait ">
   
		1<div class="desc">Nouveau</div>
	</span><span class="ligne fait ">
	</span>
    <span class="etape fait">
		2<div class="desc">En cours</div>
	</span><span class="ligne fait">
	</span>
     
    <span class="etape fait">
		3<div class="desc">À recetter</div>
	</span><span class="ligne  ">
	</span>


    <span class="etape ">
		4<div class="desc">Réouvert</div>
	</span><span class="ligne ">
	</span>
    
    <span class="etape">
		5<div class="desc">Terminé</div>
	</span>




{% elseif ticket.getStatutTicket().getEtatTicket=="Réouvert" %}

<span class="etape fait ">
   
		1<div class="desc">Nouveau</div>
	</span><span class="ligne fait ">
	</span>
    <span class="etape fait">
		2<div class="desc">En cours</div>
	</span><span class="ligne fait">
	</span>
     
    <span class="etape fait">
		3<div class="desc">À recetter</div>
	</span><span class="ligne fait  ">
	</span>


    <span class="etape  ">
		4<div class="desc">Réouvert</div>
	</span><span class="ligne ">
	</span>
    
    <span class="etape">
		5<div class="desc">Terminé</div>
	</span>






{% elseif ticket.getStatutTicket().getEtatTicket=="Terminé" %}

<span class="etape fait ">
   
		1<div class="desc">Nouveau</div>
	</span><span class="ligne fait ">
	</span>
    <span class="etape fait">
		2<div class="desc">En cours</div>
	</span><span class="ligne fait">
	</span>
     
    <span class="etape fait">
		3<div class="desc">À recetter</div>
	</span><span class="ligne fait  ">
	</span>


    <span class="etape fait ">
		4<div class="desc">Réouvert</div>
	</span><span class="ligne ">
	</span>
    
    <span class="etape fait">
		5<div class="desc">Terminé</div>
	</span>









 {% endif %}






</div>


	
<br> <br>
			
    

    <div class="table-responsive">

        <div class="table-wrapper" style="width:100px">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2> Détail du ticket n°{{ticket.getId()}} </b></h2>
                    </div>
                    <div class="col-sm-6">
                       

                        <a href="{{ path('admin_ticket_edit' , {id: ticket.id})}}"
                        class="btn btn-secondary">  
                        <i class="material-icons">edit</i> <span>modifier le status</span></a>

                        <a href="{{ path('admin_ticket_affectation' , {id: ticket.id})}}"
                        class="btn btn-secondary">  
                        <i class="material-icons">&#xE24D;</i> <span>Affecter </span></a>

               <a href="{{ path('ticket_download' , {id: ticket.id})}}"  
                class="btn btn-secondary">
                <i class="material-icons">&#xE24D;</i> <span>Exporter</span></a>		
        				

              <a href="{{ path('admin_status_historique' , {id: ticket.id})}}"
                        class="btn btn-secondary">  
                        <i class="material-icons">history</i> <span>Historique</span></a>						
                    </div>
                </div>
            </div>
    <table  class="table table-striped table-hover"  
      style="font-size:17px;align:center">
    <thead>
    <tr>

   

                       <th>ID</th>
					    <td>{{ ticket.getId() }}</td>
					   </tr>
                       
										
						<tr>
                        <th>Crée par</th>
						 <td >{{ ticket.getUtilisateurs().getEmail() }}</td>
						</tr>

						<tr>
                        <th >Crée le </th>
						<td >{{ ticket.getDateTicket()|date("d/m/Y") }}</td>

		
		
	

						</tr>

						<tr>
                        <th >Titre</th>
								<td> {{ ticket.titreTicket}}</td>
						</tr>

						<tr>
                        <th > Catégorie</th>
						<td>{{ ticket.getCategorie().getNomCategorie() }}</td>
						</tr>

						<tr>
                        <th>Domaine</th>
						<td>{{ ticket.getDomain().getNomDomain() }}</td>
						</tr>

						<tr>
                        <th >Sous domaine</th>
							<td> {{ ticket.getSousDomain().getNomSsDomain() }} </td>
						</tr>

						<tr>
                        <th>Priorité</th>
							<td> {{ ticket.getPriorite().getNiveauPriorite() }} </td>	
						</tr>

						<tr>					
                        <th >Status</th>
						   {% if ticket.getStatutTicket().getEtatTicket == 'Nouveau' %}

           <td> <span class="badge badge-primary" style="border-radius:20px">
           {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>


                {% elseif  ticket.getStatutTicket().getEtatTicket == 'En cours' %}

                     <td> <span class="badge badge-success" style=" border-radius:20px" >
                      {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

                {% elseif  ticket.getStatutTicket().getEtatTicket == 'À recetter' %}
                    <td> <span class="badge badge-warning" style=" border-radius:20px" >
                    {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>


               {% elseif   ticket.getStatutTicket().getEtatTicket == 'Réouvert' %}
                    <td> <span class="badge badge-info" style=" border-radius:20px" >
                    {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

                {% elseif ticket.getStatutTicket().getEtatTicket == 'Terminé' %}
                  <td> <span class="badge badge-danger" style=" border-radius:20px" >
                    {{ ticket.getStatutTicket().getEtatTicket() }} </span> </td>

	  {% endif %}
     
						</tr>

						<tr>
                        <th >affectation</th>
						{% if ticket.getAffectation() != null %}

			        <td>{{ ticket.getAffectation().getName() }}</td>
		            {% else %}
			        <td>En attente </td>
		            {% endif %}
						</tr>

							<tr>
	 						<th >Commentaire</th>
							<td> {{ ticket.getCommentaire|raw }} </td>
						</tr>


<tr> 
<th>Message </th> 
<td> 
<a id="haut"></a>


    <ol class="chat">

    <li class="other">
      <div class="msg">
          <div class="user"><p>{{ticket.utilisateurs.name}}</p></div>
         
        {{ ticket.commentaire|raw}} <emoji class="suffocated"></emoji>
       
        <time>{{ticket.DateTicket()|date("d/m/Y H:i") }}</time>
      </div>
    </li>
    

   
     
 {% for reponse in ticket.messages %}

 
 {% if reponse.sender.id == app.user.id   %}
    
    <li class="self">
      <div class="msg">
        <div class="user"><p>{{app.user.name}}</p></div>
        <p> {{ reponse.message|raw}}</p>
        <p><time>{{reponse.createdAt()|date("d/m/Y H:i")}}</time></p>
        
      </div>
    </li>
     

    {% else %}

<li class="other">
      <div class="msg">
         <p> {{reponse.ticket.Utilisateurs.name}} </p>
        <p> {{ reponse.message|raw}}</p>
        <p><time>{{reponse.createdAt()|date("d/m/Y H:i")}}</time></p>
      </div>
    </li>
  

{% endif %}

{% endfor %}



  <div id="form" >
{{form(form)}}
</div>

<div id="bas">
<a href="#haut"><i class="fa fa-chevron-circle-up" aria-hidden="true" style="font-size:70px;"></i>
</i></a></div>




</td> 















































    </thead>
    <tbody>
    
	
		{% endblock %}































































