{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% include 'admin/ticket/show.html.twig' with {'ticket': ticket, 'messages': messages} %}
        </div>
        <div class="col-md-6">
            {% include 'conversation/messageSolway.html.twig' with {'reponse': reponse, 'ticket': ticket, 'form': form} %}
        </div>
    </div>
{% endblock %}